@{
    ViewData["Title"] = "Pagina inicio";
}

<div class="text-center">
    <h1 class="display-4">Examen progreso 1</h1>
    <img src="https://i.pinimg.com/originals/82/23/a5/8223a5ae491bed504bcdd5c7518927f8.jpg" width="100px" height="100px" />
    <button type="button" class="btn btn-info" onclick="Alerta()">Info</button>
    <p>Pagina creada por Esteban Narvaez.</p>
</div>
